<div class="container">
  <div>
    <h2>Modifier Vetement :</h2>
  </div>
  <form>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Vetement</label>
      <input
        readonly
        type="text"
        [(ngModel)]="currentVetement.idVet"
        name="idVet"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Marque</label>
      <input
        type="text"
        [(ngModel)]="currentVetement.marqueVet"
        name="marqueVet"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix</label>
      <input
        type="number"
        [(ngModel)]="currentVetement.prixVet"
        name="prixVet"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date Achat</label>
      <input
        type="date"
        [ngModel]="currentVetement.dateAchat | date : 'yyyy-MM-dd'"
        (ngModelChange)="currentVetement.dateAchat = $event"
        name="dateEmbauche"
        class="form-control"
      />
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Boutique</label>
      <select
        class="form-control form-control-lg"
        id="idBou"
        name="idBou"
        [(ngModel)]="updatedBouId"
      >
        <option *ngFor="let bou of boutiques" [value]="bou.idBou">
          {{ bou.nomBou }}
        </option>
      </select>
    </div>

    <div class="col-sm-16 col-md-16 col-lg-16">
      <label class="mb-2">Image :</label>
      <input
        type="file"
        (change)="onImageUpload($event)"
        class="form-control"
      />
    </div>

    <div class="mt-2">
      <button
        type="submit"
        (click)="onAddImageVetement()"
        class="btn btn-success"
      >
        Ajouter Image
      </button>
    </div>

    <div class="col-sm-16 col-md-16 col-lg-16">
      <img
        [src]="myImage"
        class="card-img-top img-fluid rounded-start"
        style="width: 500px; height: 300px"
      />
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Images</th>
            </tr>
          </thead>
          <tbody *ngFor="let img of currentVetement.images">
            <tr>
              <td>
                <img
                  class="card-img-top img-responsive"
                  src="{{ 'data:' + img.type + ';base64,' + img.image }}"
                  style="height: 50px; width: 100px"
                />
              </td>
              <td style="width: 20%">
                <a class="btn btn-danger" (click)="supprimerImage(img)"
                  >Supprimer</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mt-2">
      <button type="submit" (click)="updateVetement()" class="btn btn-success">
        Modifer
      </button>
    </div>
  </form>
</div>
