<div class="container">
  <div>
    <h2>Ajouter un Vetement :</h2>
  </div>
  <form>
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Vetement</label>
      <input
        type="text"
        [(ngModel)]="newVetement.idVet"
        name="idVet"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Marque Vetement</label>
      <input
        type="text"
        [(ngModel)]="newVetement.marqueVet"
        name="marqueVet"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix</label>
      <input
        type="number"
        [(ngModel)]="newVetement.prixVet"
        name="prix"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date Achat</label>
      <input
        type="date"
        [(ngModel)]="newVetement.dateAchat"
        name="dateAchat"
        class="form-control"
      />
    </div>
    <div class="mt-2">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Boutique</label>
        <select
          class="form-control form-control-lg"
          id="idDep"
          name="idDep"
          [(ngModel)]="newIdBou"
        >
          <option *ngFor="let bou of boutiques" [value]="bou.idBou">
            {{ bou.nomBou }}
          </option>
        </select>
      </div>
      <button type="submit" (click)="addVetement()" class="btn btn-success">
        Ajouter
      </button>
      <div>
        <h3>
          {{ message }}
        </h3>
      </div>
    </div>
  </form>
</div>
